* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

img {vertical-align: middle;}


img{
  width: 300px;
  height: 350px ;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: fixed;
  padding: 10px;
  color: rgb(12, 11, 11);
  font-weight: bold;
  font-size: 18px;
  transition: 0.8s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
 margin-right: 42%;
 margin-top: 20px;
}

.prev{
  left: 0;
 margin-left: 42%;
 margin-top: 20px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}





.gridList {
  display: grid;
 grid-template-columns: auto;
}

.grid-item {
 
  text-align: center;
}

